{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}
  <div class="row vh-100 justify-content-center">
    <div class="col-sm-12 col-lg-4 pt-4">
      <form method="POST" action="{% url 'register' %}">
        {% csrf_token %}
        {{ form.username|as_crispy_field }}
        {{ form.password|as_crispy_field }}
        {{ form.password_confirm|as_crispy_field }}

        <button class="btn btn-primary" type="submit">Register</button>
      </form>

      {% if error %}
        <p class="error">{{ error }}</p>
      {% endif %}
    </div>
  </div>
{% endblock %}
